---
const frontmatter = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="stylesheet" href="/styles/books-dimmed.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
        <meta name="description" content="{frontmatter.description}" />
        <meta name="author" content="{frontmatter.author}" />
	</head>
	<body class="w3-theme-d1">
        <main class="w3-main">
            <!--
            <header class="w3-container w3-center">
                <div class="w3-container">
                    <h1>{frontmatter.title}</h1>
                    <p>{frontmatter.desription}</p>
                    <div class="w3-container">
                        <img class="w3-image w3-round-large w3-card-4"
                            src={frontmatter.image}
                            alt="Banner Image" />
                    </div>
                </div>
            </header>
            <hr />
             -->
            <div class="w3-content">
                <slot />
            </div>
            <img src={frontmatter.image} alt="Banner Image" style="width:100%" />
        </main>
	</body>
</html>
