---
const frontmatter = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="stylesheet" href="https://w3schools.com/w3css/5/w3.css" />
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
        <meta name="description" content="{frontmatter.description}" />
        <meta name="author" content="{frontmatter.author}" />
        <style>
            body {
                background-color: #121212;
                color: #a1a1a1;
            }
        </style>
	</head>
	<body>
        <main class="w3-main w3-container w3-padding">
            <header class="w3-container w3-center">
                <div class="w3-container">
                    <h1>{frontmatter.title}</h1>
                    <p>{frontmatter.desription}</p>
                    <div class="w3-container w3-round-large">
                        <img class="w3-image w3-round"
                            src={frontmatter.image}
                            alt="Banner Image" />
                    </div>
                </div>
            </header>
            <hr />
            <div class="w3-panel w3-content">
                <slot />
                <hr />
                <div class="w3-bar w3-center">
                    <a class="w3-btn w3-round w3-border" href=`/book/${frontmatter.book}/1`>Next <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </main>
	</body>
</html>
